<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustResize"
        android:theme="@style/Theme.DREAMFALLICONS">
        <activity
            android:name=".IconPackActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="org.adw.ActivityStarter.THEMES" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.novalauncher.THEME" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <meta-data android:name="com.anddoes.launcher.THEME" android:resource="@xml/appfilter" />
        <meta-data android:name="com.teslacoilsw.launcher.THEME" android:resource="@xml/appfilter" />
        <meta-data android:name="com.novalauncher.THEME" android:resource="@xml/appfilter" />
        <meta-data android:name="com.actionlauncher.THEME" android:resource="@xml/appfilter" />
    </application>

</manifest>
